@use "../../style-utills/variables.scss" as *;
@use "../../style-utills/mixins.scss" as *;

.email {
  padding: 10px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input {
    padding: 7px;
  }

  &__button {
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--reset {
      background-color: $accent-color;
      color: $base-color;
      height: 30px;
      line-height: 30px;
      padding: 0;
      width: 30%;
      transition:
        background-color 0.3s,
        border-color 0.3s,
        color 0.3s;

      &:hover {
        background-color: $base-color;
        color: $accent-color;
        border-color: $accent-color;
      }
    }
  }
}
