@use "../../style-utills/variables" as *;
@use "../../style-utills/mixins" as *;

.auth {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    text-transform: uppercase;
    color: $accent-color;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 21px;

    @include on-tablet {
      flex-direction: row;
    }
  }

  &__button {
    background-color: transparent;
    color: $accent-color;
    padding: 12px 24px;
    border: 1px solid $accent-color;
    border-radius: 6px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      color: $accent-color;
      color: white;
    }
  }

  &__form {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
